## DataFrame 数据结构

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 1.通过ndarray构建DataFrame

In [5]:
arr_obj = np.random.rand(3, 4)
#print(arr_obj)
arr_obj

array([[ 0.77537743,  0.82948071,  0.34694963,  0.98242728],
       [ 0.05551271,  0.61069747,  0.09869608,  0.0046936 ],
       [ 0.40096883,  0.49439464,  0.99844928,  0.73498934]])

In [9]:
df_obj = pd.DataFrame(arr_obj)
df_obj
df_obj.head(2)

          0         1         2         3
0  0.775377  0.829481  0.346950  0.982427
1  0.055513  0.610697  0.098696  0.004694

# 通过dict构建DataFramed对象

In [10]:
dic = {
    "A" : 1,
    "B" : pd.Timestamp("20170426"),
    "C" : pd.Series(range(10, 14), dtype = "float64"),
    "D" : ["Python", "Java", "C++", "C"],
    "E" : np.array([3] * 4, dtype="int32"),
    "F" : "ITCast"
}

In [12]:
df_obj2 = pd.DataFrame(dic)
df_obj2

   A          B     C       D  E       F
0  1 2017-04-26  10.0  Python  3  ITCast
1  1 2017-04-26  11.0    Java  3  ITCast
2  1 2017-04-26  12.0     C++  3  ITCast
3  1 2017-04-26  13.0       C  3  ITCast

In [14]:
# 在DataFrame对象里找到指定的元素，先找列，再找行
print(df_obj2['D'][2])
print(df_obj2.D[2])

C++
C++

In [15]:
# 新增加一列的数据，数据可以是和DataFrame对象的其他列运算后的数据
df_obj2['G'] = df_obj2['C']+10
df_obj2

   A          B     C       D  E       F     G
0  1 2017-04-26  10.0  Python  3  ITCast  20.0
1  1 2017-04-26  11.0    Java  3  ITCast  21.0
2  1 2017-04-26  12.0     C++  3  ITCast  22.0
3  1 2017-04-26  13.0       C  3  ITCast  23.0

In [16]:
# 通过del方法，指定删除一列的数据
del(df_obj2['E'])
df_obj2

   A          B     C       D       F     G
0  1 2017-04-26  10.0  Python  ITCast  20.0
1  1 2017-04-26  11.0    Java  ITCast  21.0
2  1 2017-04-26  12.0     C++  ITCast  22.0
3  1 2017-04-26  13.0       C  ITCast  23.0