In [1]:
import numpy as np
import pandas as pd

# 重复数据处理

In [5]:
# 1.dumplicated判断是否有重复的数据
df_obj = pd.DataFrame({"data1":['a']*4 + ['b']*4,
                      "data2": np.random.randint(0, 4, 8)})
df_obj
# 每一行和之前的行进行判断，如果和之前的行有重复，则返回True，否则返回False
print(df_obj.duplicated())

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

In [9]:
# 2.过滤重复数据，如果某一行数据、和之前有重复，则去除那一行
print(df_obj.drop_duplicates())
# 可以指定按某一行进行判断
print(df_obj.drop_duplicates("data2"))

  data1  data2
0     a      1
1     a      2
2     a      0
4     b      0
6     b      3
  data1  data2
0     a      1
1     a      2
2     a      0
6     b      3

# 替换指定数据

In [10]:
ser_obj = pd.Series(np.random.randint(0, 10, 10))
print(ser_obj)

0    5
1    6
2    1
3    4
4    6
5    8
6    6
7    9
8    4
9    0
dtype: int32

In [12]:
# replace() 用来替换某个值，接收两个参数，将第一个参数的数值替换为，第二个参数的数值
# 如果替换NaN 则使用fillna()
print(ser_obj.replace(5, 10))
# 如果要替换多个数值，则第一个参数传入一个可迭代对象，包含所有需要替换的数值
print(ser_obj.replace([4, 5], 100))

0    10
1     6
2     1
3     4
4     6
5     8
6     6
7     9
8     4
9     0
dtype: int32
0    100
1      6
2      1
3    100
4      6
5      8
6      6
7      9
8    100
9      0
dtype: int32