In [1]:
import pandas as pd
import numpy as np

In [2]:
# 示例：两层索引， 外层为字母，内层为数字
ser_obj = pd.Series(np.random.randn(12), index = [
    ['a', 'c', 'b', 'a', 'b', 'c', 'b', 'c', 'a', 'c', 'a', 'b'],
    [-10, -1, 12, 0, -1, 21, 10, 11, 21, -11, 18, 26],
    [10, 21, 25, 20, 14, 20, 2, 16, 11, 9, -10, 0]
])
print(ser_obj)
print(type(ser_obj.index))

a  -10   10   -0.382160
c  -1    21   -0.837038
b   12   25    0.221138
a   0    20    0.051641
b  -1    14   -2.077146
c   21   20   -1.646651
b   10   2    -0.330422
c   11   16    0.391766
a   21   11   -1.013263
c  -11   9     0.980346
a   18  -10   -1.936177
b   26   0    -1.610074
dtype: float64
<class 'pandas.indexes.multi.MultiIndex'>

In [3]:
# 选定外层
print(ser_obj['b'])
# 选定内层
print(ser_obj[:, 21])
# 选定更内层
print(ser_obj['c',:,16])
# 选定具体的值
print(ser_obj['b', 10, 2])

 12  25    0.221138
-1   14   -2.077146
 10  2    -0.330422
 26  0    -1.610074
dtype: float64
c  20   -1.646651
a  11   -1.013263
dtype: float64
11    0.391766
dtype: float64
-0.330421844322

In [4]:
# 4.交换分层：swaplevel(),和最内层做交换
# 默认处理的是最外层
# 参数为0， 处理最外层
# 参数为1， 处理内层
# 参数为2， 处理更内层
print(ser_obj.swaplevel(0))

 10  -10  a   -0.382160
 21  -1   c   -0.837038
 25   12  b    0.221138
 20   0   a    0.051641
 14  -1   b   -2.077146
 20   21  c   -1.646651
 2    10  b   -0.330422
 16   11  c    0.391766
 11   21  a   -1.013263
 9   -11  c    0.980346
-10   18  a   -1.936177
 0    26  b   -1.610074
dtype: float64

In [6]:
# 5.层排序 sotrlevel()默认是升序， ascending=False 指定为降序
# 默认处理的是最外层
# 参数为0：处理最外层
# 参数为1；处理内层
# 参数为2： 处理更内层
print(ser_obj.sortlevel(2, ascending=False))

b   12   25    0.221138
c  -1    21   -0.837038
    21   20   -1.646651
a   0    20    0.051641
c   11   16    0.391766
b  -1    14   -2.077146
a   21   11   -1.013263
   -10   10   -0.382160
c  -11   9     0.980346
b   10   2    -0.330422
    26   0    -1.610074
a   18  -10   -1.936177
dtype: float64

In [8]:
# 6.unstack 将Series--》DataFrame
# 可以将Series对象重构为DataFrame对象，岑姝可以指定处理的层索引
df_obj = ser_obj.unstack(0)
df_obj

                a         b         c
-11  9        NaN       NaN  0.980346
-10  10 -0.382160       NaN       NaN
-1   14       NaN -2.077146       NaN
     21       NaN       NaN -0.837038
 0   20  0.051641       NaN       NaN
 10  2        NaN -0.330422       NaN
 11  16       NaN       NaN  0.391766
 12  25       NaN  0.221138       NaN
 18 -10 -1.936177       NaN       NaN
 21  11 -1.013263       NaN       NaN
     20       NaN       NaN -1.646651
 26  0        NaN -1.610074       NaN

In [9]:
# 7.stack()将DataFrame——Series
# 可以将DataFrame对象重构为Series对象，岑姝可以指定处理的层索引
print(df_obj.stack())

-11   9   c    0.980346
-10   10  a   -0.382160
-1    14  b   -2.077146
      21  c   -0.837038
 0    20  a    0.051641
 10   2   b   -0.330422
 11   16  c    0.391766
 12   25  b    0.221138
 18  -10  a   -1.936177
 21   11  a   -1.013263
      20  c   -1.646651
 26   0   b   -1.610074
dtype: float64