In [2]:
import pandas as pd
import numpy as np

In [3]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1, 10, 8),
            'data2': np.random.randint(1, 10, 8)}
df_obj = pd.DataFrame(dict_obj)
df_obj

   data1  data2 key1   key2
0      1      3    a    one
1      9      6    b    one
2      9      3    a    two
3      4      9    b  three
4      8      3    a    two
5      3      1    b    two
6      8      3    a    one
7      2      6    a  three

In [4]:
# 按key2来分组。进行sum()运算， 并将计算后的data1 和data2的结果添加到列表的前缀
df_sum = df_obj.groupby("key2").sum().add_prefix("sum__")
df_sum

       sum__data1  sum__data2
key2
one            18          12
three           6          15
two            20           7

In [5]:
# merge 进行表合并

In [ ]:
# 主键：主键是一张表的主键，必须是唯一且非空的。
# 外键：是另一张表中，与这张表的某个字段的类型、字段名都是相同的字段。
# 一般用来关联两张或多张表的数据表用。

In [6]:
# left_on：左边数据表的"外键"
# right_on：右边数据表的"外键"
# left_index：使用左边的DataFrame对象的行索引做为连接健
# right_index：使用右边的DataFrame对象的行索引做为连接健
# 一般情况下，外键和连接健的方向是相反的。

#　第一种方法，merge可以将两张表合并，但是前提条件是 必须有相同的外键
key1_merge = pd.merge(df_obj, df_sum, left_on = "key2", right_index = True)
key1_merge

   data1  data2 key1   key2  sum__data1  sum__data2
0      1      3    a    one          18          12
1      9      6    b    one          18          12
6      8      3    a    one          18          12
2      9      3    a    two          20           7
4      8      3    a    two          20           7
5      3      1    b    two          20           7
3      4      9    b  three           6          15
7      2      6    a  three           6          15

# trandform 表的合并

In [7]:
print(df_obj)
print(df_sum)

   data1  data2 key1   key2
0      1      3    a    one
1      9      6    b    one
2      9      3    a    two
3      4      9    b  three
4      8      3    a    two
5      3      1    b    two
6      8      3    a    one
7      2      6    a  three
       sum__data1  sum__data2
key2
one            18          12
three           6          15
two            20           7

In [9]:
# 第二种方法，使用transform进行聚合运算， 运算结果和原始数据形状保持一致
key1_trans = df_obj.groupby("key1").transform(sum).add_prefix("sum_")
# 将key1_trans 的列数据添加到原始数据里
df_obj[key1_trans.columns] = key1_trans
print(df_obj)

   data1  data2 key1   key2 sum_data1 sum_data2           sum_key2
0      1      3    a    one        28        18  onetwotwoonethree
1      9      6    b    one        16        16        onethreetwo
2      9      3    a    two        28        18  onetwotwoonethree
3      4      9    b  three        16        16        onethreetwo
4      8      3    a    two        28        18  onetwotwoonethree
5      3      1    b    two        16        16        onethreetwo
6      8      3    a    one        28        18  onetwotwoonethree
7      2      6    a  three        28        18  onetwotwoonethree

In [10]:
# transform可以传入自定义函数
def func(df):
    return df.sum()

newkey1_trans = df_obj.groupby("key1").transform(func).add_prefix("newsum_")
df_obj[newkey1_trans.columns] = newkey1_trans
print(df_obj)

   data1  data2 key1   key2 sum_data1 sum_data2           sum_key2  \
0      1      3    a    one        28        18  onetwotwoonethree
1      9      6    b    one        16        16        onethreetwo
2      9      3    a    two        28        18  onetwotwoonethree
3      4      9    b  three        16        16        onethreetwo
4      8      3    a    two        28        18  onetwotwoonethree
5      3      1    b    two        16        16        onethreetwo
6      8      3    a    one        28        18  onetwotwoonethree
7      2      6    a  three        28        18  onetwotwoonethree

  newsum_data1 newsum_data2        newsum_key2 newsum_sum_data1  \
0           28           18  onetwotwoonethree              140
1           16           16        onethreetwo               48
2           28           18  onetwotwoonethree              140
3           16           16        onethreetwo               48
4           28           18  onetwotwoonethree              140
5           16           16        onethreetwo               48
6           28           18  onetwotwoonethree              140
7           28           18  onetwotwoonethree              140

  newsum_sum_data2                                    newsum_sum_key2
0               90  onetwotwoonethreeonetwotwoonethreeonetwotwoone...
1               48                  onethreetwoonethreetwoonethreetwo
2               90  onetwotwoonethreeonetwotwoonethreeonetwotwoone...
3               48                  onethreetwoonethreetwoonethreetwo
4               90  onetwotwoonethreeonetwotwoonethreeonetwotwoone...
5               48                  onethreetwoonethreetwoonethreetwo
6               90  onetwotwoonethreeonetwotwoonethreeonetwotwoone...
7               90  onetwotwoonethreeonetwotwoonethreeonetwotwoone...

FileNotFoundError: File b'starcraft.csv' does not exist